header {
	height: 400px;
	width: 100%;
	background: linear-gradient(54.26deg, #8065b6 10.14%, #e9553d 109.8%);
	border-bottom-left-radius: 10em/1em;
}

footer {
	height: 387px;
	background: linear-gradient(54.26deg, #8065b6 10.14%, #e9553d 109.8%);
}
#couple_keeper {
	display: flex;
	justify-content: center;
	padding-top: 30px;
}
#couple {
	background: #fff;
	border-radius: 10px;
	width: 40px;
	height: 40px;
}
.win {
	background-color: #8065b6;
	width: 700px;
	height: 200px;
	margin: auto;
	border-radius: 30px;
	margin-top: 40px;
	margin-bottom: 40px;
	padding-top: 10px;
}
.head {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
}
.qwest {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-size: 28px;
	text-align: center;
	color: #ffffff;
	margin-bottom: 20px;
	margin-top: 10px;
}
.otw {
	width: 120px;
	font-size: 16px;
	background-color: #fff;
	border-radius: 20px;
	text-align: center;
	padding: 10px;
	display: inline-block;
	margin: 4px;
}
.otwcont {
	margin-left: 50px;
}
.line {
	width: 500px;
	height: 4px;
	background-color: aqua;
	border-radius: 2px;
	display: inline-block;
}
.number {
	display: inline-block;
	margin-left: 20px;
}
.linecont {
	margin-left: 50px;
}
